@model Carzz.Models.CarServicingModel

@{
    ViewBag.Title = "Car Servicing Form";
}

<h2 >Car Servicing Form</h2>

<div class="form-container">
    @using (Html.BeginForm("Create", "CarServicing", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.BookingTime, new { @Value = DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss") })

        <div class="form-group">
            @Html.LabelFor(m => m.AppointmentTime, "Appointment Date")
            @Html.TextBoxFor(m => m.AppointmentTime, new { @class = "form-control", Type = "date", placeholder = "Select Date", required = "required" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ServiceCategory, "Service Category")
            @Html.DropDownListFor(m => m.ServiceCategory,
                new SelectList(Enum.GetValues(typeof(Carzz.Models.Service))),
                "-- Select Category --",
                new { @class = "form-control", required = "required" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ProblemDescription, "Problem Description")
            @Html.TextAreaFor(m => m.ProblemDescription, new { @class = "form-control", type = "text", placeholder = "Enter description...", rows = 4, required = "required" })
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    }

</div>

@*        <div class="form-group">
            @Html.LabelFor(m => m.ServiceCategory, "Service Category")
            <select name="Category" class="form-control" required>
                <option value="">-- Select Category --</option>
                @foreach (var category in Enum.GetNames(typeof(Carzz.Models.Service)))
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>

  *@

